<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Next!</title>


    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>

    <nav class="navbar" role="navigation">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">
          <img src="<%= static_path(@conn, "/images/podlove-icon.png") %>" alt="Podlove NG" width="19" height="30">
          <h1>Podlove NG</h1>
        </a>
        <div class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
  
      <div class="navbar-menu" id="navMenu">
        <%= if @current_user do %>
          <a class="navbar-item">
            <%= @current_user.email %>
          </a>
          <a class="navbar-item" href="/logout">Logout</a>
        <% else %>
          <a class="navbar-item" href="/register">Register</a>
          <a class="navbar-item" href="/login">Login</a>
        <% end %>
      </div>
    </nav>



      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
